<settings>
  <setting propertyKey="@Properties.api_token" title="@Strings.APITokenTitle">
    <settingConfig type="password"/>
  </setting>
  <setting propertyKey="@Properties.sort_type" title="@Strings.SortTypeTitle" prompt="@Strings.SortTypePrompt">
    <settingConfig type="list">
      <listEntry value="0">@Strings.SortTypeNone</listEntry>
      <listEntry value="1">@Strings.SortTypeUser</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.show_completed" title="@Strings.ShowCompleted">
    <settingConfig type="boolean"/>
  </setting>
  <setting propertyKey="@Properties.show_hidden" title="@Strings.ShowHidden">
    <settingConfig type="boolean"/>
  </setting>
</settings>
